@import "tailwindcss";
@plugin "daisyui/index.js" {
  logs: false;
  themes: all;
}

[data-theme="bumblebee"] {
  --color-accent: var(--color-orange-300);
  --color-base-content: var(--color-neutral-800);
}

.btn-primary:hover {
  @apply border-primary/30 bg-primary/10 text-primary;
}

.btn-error:hover {
  @apply border-error/30 bg-error/10 text-error;
}

.btn-ghost:hover {
  @apply bg-base-100;
}

.checkbox {
  @apply rounded-full;
}

.card {
  @apply border border-base-content/20 bg-base-100 shadow;
}

.card-body {
  @apply gap-3 px-5 py-4;
}

hr {
  @apply border-base-content/10;
}

.container {
  @apply px-4;
}

@media (width >= 140rem) {
  .container {
    @apply max-w-480;
  }
}
