@import "tailwindcss";
@plugin "daisyui/index.js" {
  logs: false;
}

:root {
  --color-base-100: white;
  --color-primary-content: snow;
  --color-primary: var(--color-sky-600);
  --color-error: var(--color-red-600);
  --color-base-content: var(--color-gray-900);
  --color-success: var(--color-green-600);
  --color-info: var(--color-primary);
  --color-warning: var(--color-yellow-500);
}

.btn-primary:hover {
  @apply border-primary/30 bg-primary/10 text-primary;
}

.btn-error:hover {
  @apply border-error/30 bg-error/10 text-error;
}

.btn-ghost:hover {
  @apply bg-base-100;
}

.checkbox {
  @apply rounded-full;
}
